<a href="https://colab.research.google.com/github/angeljoseph23/MLAI-day1/blob/main/day1activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Enter your name: ")
print("Welcome to Data Analytics", name)

Enter your name: angel
Welcome to Data Analytics angel

In [ ]:
favorite_snack = "Chips"
print("I love munching on {} during meetings".format(favorite_snack))

I love munching on Chips during meetings

In [ ]:
tasks_completed = 15
next_week_tasks = tasks_completed * 2
print(f"Tasks expected next week: {next_week_tasks}")

Tasks expected next week: 30

In [ ]:
income = 5000
expenses = 3200
savings = income - expenses
print(f"Monthly savings: ${savings}")

Monthly savings: $1800

In [ ]:
friends = 5
popcorn_per_friend = 2
total_popcorn = friends * popcorn_per_friend
print(f"Total popcorn bags needed: {total_popcorn}")

Total popcorn bags needed: 10

In [ ]:
rating = int(input("Rate the product (1-5): "))
if rating > 3:
    print("Thanks for the great rating!")
else:
    print("We'll work on improving it!")

Rate the product (1-5): 4
Thanks for the great rating!

In [ ]:
sales_last_month = 50
sales_this_month = 75
sales_next_month = 100
average_sales = (sales_last_month + sales_this_month + sales_next_month) / 3
print(f"Average sales over three months: {average_sales}")

Average sales over three months: 75.0

In [ ]:
principal = 500
rate = 0.04
time = 3
simple_interest = principal * rate * time
total_amount = principal + simple_interest
print(f"Total amount after 3 years: ${total_amount}")

Total amount after 3 years: $560.0

In [ ]:
guests = 10
slices_per_guest = 1
slices_per_cake = 8
total_slices_needed = guests * slices_per_guest
cakes_needed = (total_slices_needed + slices_per_cake - 1) // slices_per_cake  # Ceiling division
print(f"You need {cakes_needed} cakes for the party.")

You need 2 cakes for the party.

In [ ]:
text = "Empowering data decisions"
if len(text) > 10:
    print("That's a strong and long message!")
else:
    print("Short and sweet!")

That's a strong and long message!

In [ ]:
product_A_sales = 250
product_B_sales = 300
if product_A_sales > product_B_sales:
    print("Product A sold more!")
else:
    print("Product B sold more!")

Product B sold more!

In [ ]:
scholarship_received = 750
total_scholarship = 1000
percentage = (scholarship_received / total_scholarship) * 100
print(f"Congratulations! You received {percentage}% scholarship.")

Congratulations! You received 75.0% scholarship.

In [ ]:
favorite_color = "Blue"
print(f"My favorite color is {favorite_color}")

# 14. Basic Arithmetic
a = 10
b = 20
sum_result = a + b
print(f"Sum of a and b is: {sum_result}")

My favorite color is Blue
Sum of a and b is: 30

In [ ]:
a = 10
b = 20
result = a + b
print("The sum is:", result)

The sum is: 30

In [ ]:
length = 5
width = 3
area_rectangle = length * width
print(f"Area of rectangle: {area_rectangle}")

Area of rectangle: 15

In [ ]:
num = 15
if num % 2 == 0:
    print(f"{num} is Even")
else:
    print(f"{num} is Odd")

15 is Odd

In [ ]:
num1, num2, num3 = 10, 20, 30
average = (num1 + num2 + num3) / 3
print(f"Average: {average}")

Average: 20.0

In [ ]:
import math
radius = 7
area_circle = math.pi * radius ** 2
print(f"Area of the circle: {area_circle:.2f}")

Area of the circle: 153.94

In [ ]:
text = "Python"
if len(text) > 6:
    print("The string has more than 6 characters.")
else:
    print("The string has 6 or fewer characters.")

The string has 6 or fewer characters.

In [ ]:
num1 = 15
num2 = 25
maximum = max(num1, num2)
print(f"The maximum number is: {maximum}")

The maximum number is: 25

In [ ]:
total_marks = 500
obtained_marks = 400
percentage = (obtained_marks / total_marks) * 100
print(f"Percentage: {percentage}%")

Percentage: 80.0%

In [ ]:
string = input("Enter a string value: ")
char_count = {}

for char in string:
    char_count[char] = char_count.get(char, 0) + 1

output = ", ".join(f"{char}={count}" for char, count in char_count.items())
print(output)

Enter a string value: alappuzha
a=3, l=1, p=2, u=1, z=1, h=1

In [ ]:
def maximum_of_three(a, b, c):
    return max(a, b, c)

print(maximum_of_three(34, 12, 7))

34

In [ ]:
def exponent(base, exp):
    return base ** exp

base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
print("Result:", exponent(base, exp))

Enter the base: 3
Enter the exponent: 2
Result: 9

In [ ]:
def sum_of_cubes(n):
    return sum(i**3 for i in range(1, n))

print(sum_of_cubes(4))

36

In [ ]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
numbers = [2, 3, 4, 2, 5, 2]
most_frequent = max(set(numbers), key=numbers.count)
print(most_frequent)

2

In [ ]:
numbers = [2, 1, 3, 1]
sum_of_squares = sum(x**2 for x in numbers)
print(sum_of_squares)

15

In [ ]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

In [ ]:
f = float(input("Enter temperature in Fahrenheit: "))
c = (f - 32) * 5 / 9
print(f"Temperature in Celsius = {round(c)}")

Enter temperature in Fahrenheit: 314
Temperature in Celsius = 157

In [ ]:
def factorial(n):
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

print(factorial(3))

6